<% if guest %>
<% invite = Invitation.find_by(:event_id => event.id, :guest_id => guest.id) %>
<tr>
  <td>
    <%= link_to guest.first_name + " " + guest.last_name, guest_path(guest.id) %>
  </td>
  <td>
    <% if invite == nil %>
    n/a
    <% elsif invite.RSVP %>
    yes
    <% else %>
    no
    <% end %>
  </td>
  <td>
    <% if invite == nil %>
    n/a
    <% elsif invite.attending %>
    yes
    <% else %>
    no
    <% end %>
  </td>
  <td>
    <%= link_to "nudge", "notifications/notify" + {:phone => guest.phone, :full_name => guest.full_name, :event_id => event.id, :event_title => event.title}.to_param, :method => :post %>
  </td>
  </tr>
<% end %>
