<center><div class="invite-link-box"><h1>
  <%= link_to ('<i class="fa fa-envelope-o"></i> Send an invitation! <i class="fa fa-envelope-o"></i>').html_safe, new_guest_path, :class => "invite-link" %>
</h1></div></center>


<% if flash[:notice] %>
<br>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:notice] %>
</div>

<% end %>

<div>
  <% @events.each do |event| %>
  <h2><%= event.title %></h2>
  <table class="table">
    <thead>
      <th> Name </th>
      <th> RSVP </th>
      <th> Attending </th>
      <th> </th>
    </thead>
    <tbody>
      <%= render partial: 'guest', collection: event.guests, as: :guest, locals: {event: event} %>
    </tbody>
  </table>
  <% end %>
</div>
