/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'bootstrap';
@import "_font-awesome-sprockets";
@import "_font-awesome";

* {
  color: #485665;
}

img {
  border: 1px solid;
}

body {
  background-color: #FFEBE7;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.invite-link {
  vertical-align: middle;
  // padding-left: 25px;
  padding-right: 125px;
  // margin-left: 3em;
  // margin-right: 3em;
  color: #D0A5C0;
}

.invite-link-box {
  display: inline-block;
  margin-top: 3em;
  background-color: #8E7C93;
  padding: 5px;
  border-radius: 5px;
}
// form {
//   margin-top: 15px;
// }

.quantity {
  margin-right: 15px;
}

.action-link {
  margin-right: 15px;
}

.checked-task {
  text-decoration: line-through;
}

.checked-supply {
  text-decoration: line-through;
}

.event-box {
  display: inline-block;
  padding: 15px;
}

.task-box {
  padding: 15px;
}

.event-details {
  width: 75%;
  padding: 15px;
}

.event-tasks {
  vertical-align: top;
}

.event-image {
  float: right;
  margin-bottom: 5em;
}

.stroked {
  text-decoration: line-through;
}

//
// body {
//   background-color: #F6C0D0;
// }
